@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

body {font-family: "Roboto", sans-serif; margin: 0; padding: 0; color: #444;}
a {color: #444;}
.prisma-header  {background-color: #018548; height: 70px; margin: 0;}
.prisma-subheader {background-color: #ddd; height: 50px; margin: 0; text-transform: uppercase; text-align: center; line-height: 50px; font-size: 20px; font-weight: 600;}
.prisma-taskboard {padding: 0;}
.tab-content>div>h3 {width: 100%; background: #eee; padding: 10px 30px; margin: 0; font-size: 14px; text-transform: uppercase; font-weight: 600;}
.tab-content>div>.row {margin: 0 !important;}
.nav-tabs {border-bottom: 3px solid #ddd;}
.nav-tabs>li {padding: 0; margin-bottom: -3px !important ;}
.nav-tabs>li>a, .nav-tabs>li>a:hover {background: transparent !important; border: 0 !important; text-align: center;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {border: 0 !important; border-bottom: 3px solid #444 !important;}
/*login*/

.prisma-modal { display: none; position: fixed; z-index: 1;  left: 0;  top: 0;  width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0);   background-color: rgba(0,0,0,0.8);  padding-top: 60px; }
.prisma-modal-content {  background-color: #fefefe; margin: 5px auto;  border: 1px solid #888;  width: 300px;}
.prisma-container {padding: 20px;}
.close {  position: absolute; right: 25px;  top: 10px; color: #000; font-size: 35px;  font-weight: bold;}
.close:hover, .close:focus { color: red;  cursor: pointer;}
.prisma-modal-header {background: #666; padding: 20px 20px; text-align: center; position: relative;}
.prisma-modal-header h3 {display: block; color: #fff; text-transform: uppercase; padding: 0; margin: 0; font-weight: 400; font-size: 16px;}
input[type=text], input[type=password] {    width: 100%;    padding: 12px 20px;    margin: 8px 0;    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;}

button { background-color: #4CAF50; color: white; padding: 14px 20px;  margin: 8px 0;  border: none;  cursor: pointer;  width: 100%;}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*task styles*/
.glyphicon {font-size: 25px !important; top: 7px; margin: 0 10px 15px;}
.prisma-task {border:1px solid #ddd; margin: 20px 0; padding: 0; }
.prisma-task-header {height: 40px; background-color: #555; margin: 0; padding: 12px 20px;}
.prisma-task-header h3 {margin: 0; color: #fff; font-weight: 400; text-transform: uppercase; font-size: 16px;}
#prisma-tasks-progress .prisma-task-body div {height: 80px; text-align: center; padding: 20px 0;}
.prisma-task-body.row {margin: 0; }
.centered {text-align: center;}
.prisma-task-buttons {text-transform: uppercase; text-align: center;}
.prisma-task-buttons a {padding: 10px; text-align: center; width: 40%; display: inline-block;}
.prisma-task-deadline, .prisma-task-location {width: 35%; display: inline-block;}
#prisma-tasks-todo .prisma-task-deadline, #prisma-tasks-todo .prisma-task-location {width: 100%;}
#prisma-tasks-todo .prisma-task-body.row {padding: 20px;}
#prisma-tasks-todo .prisma-task-body.row div {padding: 0;}
#prisma-tasks-todo .prisma-task-body.row div div { border-left: 5px solid #ddd;}

#prisma-tasks-complete .prisma-task-deadline, #prisma-tasks-complete .prisma-task-location {width: 100%;}
#prisma-tasks-complete .prisma-task-body.row {padding: 20px;}
#prisma-tasks-complete .prisma-task-body.row div {padding: 0;}
#prisma-tasks-complete .prisma-task-body.row div div { border-left: 5px solid #ddd;}

.prisma-task-categories {padding-bottom: 0! important;}
.prisma-task-categories ul {padding: 0; list-style: none; margin: 0;}
.prisma-task-categories ul li {display: inline-block; padding: 0px 5px; background: #ddffdd; text-transform: uppercase;}
.prisma-header button { padding: 0; width: 50px; height:20px; font-size: 16px; font-weight: 700; float: right; background: transparent; color: #fff; margin-top: 20px;}
.prisma-header button:focus, .prisma-header button:active {outline: none !important; box-shadow: inset 0 3px 5px rgba(0,0,0,0) !important;}
.prisma-header .glyphicon { font-size: 14px !important; margin: 0; color: #fff;}
.prisma-task-buttons .btn-danger {background: #555;}
.prisma-task-buttons .btn-primary {background: #018548;}
.prisma-task-buttons input[type="button"] {padding: 10px; text-align: center; width: 45%; display: inline-block; text-transform: uppercase; border: 0;}
.prisma-full-task {width: 80%; border: 5px solid #018548; background: #fff; margin: auto; text-align: center;}
.posted-by {text-align: left;}
.prisma-full-task .prisma-modal-header {background: transparent;}
.prisma-full-task .prisma-task-buttons a {width: 35% !important;}
.prisma-full-task .prisma-task-buttons {margin: 30px auto;}
.prisma-full-task h3 {margin: 45px 0 15px 0; text-transform: uppercase;}
.prisma-task-description {border-top: 1px solid #444; border-bottom: 1px solid #444; width: 70%; display: inline-block; margin: 30px auto; padding: 30px 0;}
.prisma-form label {max-width: 35%; width: 35%; text-align: right; text-transform: uppercase; padding-right: 10px; vertical-align: bottom; margin: 0; font-weight: 400 !important;}
.prisma-form form {width: 50% !important;}
.prisma-form input[type="text"], .prisma-form input[type="password"], .prisma-form input[type="email"], .prisma-form textarea {width: 60%; margin: 0; padding: 10px 15px;}
.prisma-form .prisma-container div {margin: 15px auto;}

.prisma-form ul {display: inline-block; width: 60%;}
.prisma-form ul li {background: transparent;}
input[type=checkbox], input[type=radio] {margin-right: 5px;}

#newTaskButton { z-index:99; padding: 0;position: fixed; border: 0; bottom: 40px; right: 40px; width: 80px; height: 80px; border-radius: 40px; background: #018548; color: #fff; font-size: 50px; text-align: center; }
#newTaskButton:active, #newTaskButton:focus {outline: none;}

#loginName {color: #fff;font-size: 150%;margin: 20px 20px 20px 20px;}
.taskm-stat, .myprof-stat {margin-left: 20%; margin-right:20%}
.taskm-stat h4,.myprof-stat h4 {text-transform: uppercase; font-size: 16px; font-weight: 400; margin: 10px 0 !important;}
.myprof-stat input[type="text"], .myprof-stat input[type="password"] {width: 85%;}
.taskm-stat .btn-primary, .myprof-stat .btn-primary {width: 100px; background: #018548; text-transform: uppercase; border: 0; padding: 10px; font-weight: 300; }
.myprof-listt { margin-left: auto; margin-right: auto; width: 60%}
.myprof-stat label {text-transform: uppercase; font-size: 16px; font-weight: 400; margin: 10px 0 !important;}
.myprof-stat ul {padding: 0; list-style: none; margin: 10px 0 30px;}
.myprof-stat ul li {display: inline-block; padding: 0px 5px;  text-transform: uppercase;}
.onlyManagers{margin-left: 20%; margin-right:20%}
.allUsers {margin-left: 20%; margin-right:20%}
#mpUserSelect {margin-left: 38%; margin-right: 38%; width: 24%; padding: 10px; text-transform: uppercase; border: 0; border-bottom: 1px solid black; outline: none; }

.taskm-stat { display: block; margin-bottom:20px;}
.taskm-stat label{ width: 100px; text-transform: uppercase; font-weight: 400;}
.taskm-stat select, .taskm-stat input[type="date"], .taskm-stat input[type="time"] { width: 200px; padding: 10px; border: 0; border-bottom: 1px solid #666; outline: none; margin-right: 10px; }
.taskm-stat input[type="date"], .taskm-stat input[type="time"] { padding: 8px;}
.taskm-stat .btn-danger {background: #555;text-transform: uppercase; border: 0; padding: 10px; font-weight: 300; width: 140px;}
#backBtnDiv {margin-top: 10px;}
#jobChngBtn {width: 120px;}
#backBtnDiv .btn-danger, #backBtnDiv .btn-primary  {text-transform: uppercase; border: 0; padding: 10px; font-weight: 300; width: 120px;}
.btn-danger {background: #555;}
/* responsive */

	@media screen and (max-width: 800px) {
            .prisma-form form {width: 90% !important;}
            .taskm-stat, .myprof-stat {margin-left: 5%; margin-right:5%}
        }
        
       

@media screen and (max-width: 370px) {
            .nav-tabs>li>a  {height:63px;}
        }

        @media screen and (max-width: 1200px) {
            .myprof-stat input[type="text"], .myprof-stat input[type="password"] {width: 75%;}
        }

         @media screen and (max-width: 522px) {
             .myprof-stat input[type="text"], .myprof-stat input[type="password"] {width: 65%;}
             .taskm-stat select, .taskm-stat input[type="date"], .taskm-stat input[type="time"] { width: 150px}
             .taskm-stat label{ width: 80px;}
              .taskm-stat, .myprof-stat {margin-left: 1%; margin-right:1%}
              .taskm-stat .btn-primary { width: 80px;}
        }